<ul>
  <% @stores_presenter.each do |store| %>
  <li class="store"><%= store.name %>
    <ul>
      <li><%= store.name %></li>
      <li><%= store.name %></li>
      <li><%= store.name %></li>
    </ul>
  </li>
  <% end %>
</ul>
